<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./src/logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styled.css') }}">
    <style>body {font-family: 'Roboto', sans-serif;}</style>
    <title>Atendi</title>
</head>
<body>
    <header>
        <h1 class="title">Bienvenido a Atendi</h1>
    </header>
    <main>
        <form method="POST" action="{{ url_for('recognize') }}">
            <button type="submit" class="btn">Tomar asistencia</button>
        </form>               
    </main>
</body>
</html>